In [196]:
import pandas as pd
import numpy as np

In [197]:
# Files to use
movies_data = pd.read_csv('Resources/Movies.csv', encoding='utf-8')
oscar_winners = pd.read_csv('CleanData/Oscar_Winners.csv', encoding='utf-8')
goldenglobe_winners = pd.read_csv('CleanData/Golden_Globe_Winners.csv', encoding='utf-8')

# Combine the data into a single DataFrame
combine_data_df = pd.merge(movies_data, oscar_winners, how='outer', on=["Movie Name", "Movie Name"])
complete_data_df = pd.merge(combine_data_df, goldenglobe_winners, how='outer', on=["Movie Name", "Movie Name"])

complete_data_df.head(10)

,Unnamed: 0,Movie Name,Rating,Votes,Meta Score,PG Rating,Year,Duration,Director,Movie ID,...,Winner_x,Award,Oscar Award ID,Year Ceremony_x,Year Film,Golden Globe Winner ID,Winner_y,Year Ceremony_y,Golden Globe Award,GG Award ID
0,0.0,Leave the World Behind,6.5,90000.0,67.0,R,2023.0,2h 18m,Sam Esmail,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Wonka,7.4,24000.0,66.0,PG,2023.0,1h 56m,Paul King,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,Paddington 2,7.8,90000.0,88.0,PG,2017.0,1h 43m,Paul King,665.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Paddington,7.3,129000.0,77.0,PG,2014.0,1h 35m,Paul King,717.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,Poor Things,8.5,6700.0,86.0,R,2023.0,2h 21m,Yorgos Lanthimos,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5.0,The Favourite,7.5,216000.0,91.0,R,2018.0,1h 59m,Yorgos Lanthimos,144.0,...,Olivia Colman,ACTRESS IN A LEADING ROLE,OWA0081,2019.0,2018.0,58.0,Olivia Colman,2019.0,Best Performance by an Actress in a Motion Pic...,GG005
6,6.0,The Killing of a Sacred Deer,7.0,174000.0,73.0,R,2017.0,2h 1m,Yorgos Lanthimos,181.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7.0,The Lobster,7.1,281000.0,82.0,R,2015.0,1h 59m,Yorgos Lanthimos,281.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8.0,Killers of the Flower Moon,7.8,128000.0,89.0,R,2023.0,3h 26m,Martin Scorsese,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9.0,The Wolf of Wall Street,8.2,1500000.0,75.0,R,2013.0,3h,Martin Scorsese,77.0,...,NaN,NaN,NaN,NaN,NaN,111.0,Leonardo DiCaprio,2014.0,Best Performance by an Actor in a Motion Pictu...,GG006

In [198]:
# Columns name info
complete_data_df.columns

Index(['Unnamed: 0', 'Movie Name', 'Rating', 'Votes', 'Meta Score',
       'PG Rating', 'Year', 'Duration', 'Director', 'Movie ID', 'Director ID',
       'Oscar Winner ID', 'Winner_x', 'Award', 'Oscar Award ID',
       'Year Ceremony_x', 'Year Film', 'Golden Globe Winner ID', 'Winner_y',
       'Year Ceremony_y', 'Golden Globe Award', 'GG Award ID'],
      dtype='object')

In [199]:
complete_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4644 entries, 0 to 4643
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              2241 non-null   float64
 1   Movie Name              4643 non-null   object
 2   Rating                  2241 non-null   float64
 3   Votes                   2241 non-null   float64
 4   Meta Score              2241 non-null   float64
 5   PG Rating               2241 non-null   object
 6   Year                    2241 non-null   float64
 7   Duration                2241 non-null   object
 8   Director                2241 non-null   object
 9   Movie ID                2241 non-null   float64
 10  Director ID             2241 non-null   float64
 11  Oscar Winner ID         2792 non-null   float64
 12  Winner_x                2792 non-null   object
 13  Award                   2792 non-null   object
 14  Oscar Award ID          2792 non-null   object
 15  Year Ceremony_x         2792 non-null   float64
 16  Year Film               2792 non-null   float64
 17  Golden Globe Winner ID  1965 non-null   float64
 18  Winner_y                1963 non-null   object
 19  Year Ceremony_y         1965 non-null   float64
 20  Golden Globe Award      1965 non-null   object
 21  GG Award ID             1965 non-null   object
dtypes: float64(12), object(10)
memory usage: 834.5+ KB

In [201]:
# Drop unwanted columns 
columns_to_drop = ['Unnamed: 0', 'Director', 'Oscar Winner ID', 'Winner_x', 'Award', 'Year Film', 'Year Ceremony_x', 'Golden Globe Winner ID', 'Winner_y', 'Year Ceremony_y','Golden Globe Award']
complete_movies_df = complete_data_df.drop(columns=columns_to_drop)

# Rename column Year_x
complete_movies_df.rename(columns={'Year_x': 'Year'}, inplace=True)

# Convert columns to integers
columns_to_convert = ['Votes', 'Meta Score', 'Year', 'Movie ID', 'Director ID']
complete_movies_df[columns_to_convert] = complete_movies_df[columns_to_convert].fillna(0).astype(int)

complete_movies_df.head(10)

,Movie Name,Rating,Votes,Meta Score,PG Rating,Year,Duration,Movie ID,Director ID,Oscar Award ID,GG Award ID
0,Leave the World Behind,6.5,90000,67,R,2023,2h 18m,1,1,NaN,NaN
1,Wonka,7.4,24000,66,PG,2023,1h 56m,2,2,NaN,NaN
2,Paddington 2,7.8,90000,88,PG,2017,1h 43m,665,2,NaN,NaN
3,Paddington,7.3,129000,77,PG,2014,1h 35m,717,2,NaN,NaN
4,Poor Things,8.5,6700,86,R,2023,2h 21m,3,3,NaN,NaN
5,The Favourite,7.5,216000,91,R,2018,1h 59m,144,3,OWA0081,GG005
6,The Killing of a Sacred Deer,7.0,174000,73,R,2017,2h 1m,181,3,NaN,NaN
7,The Lobster,7.1,281000,82,R,2015,1h 59m,281,3,NaN,NaN
8,Killers of the Flower Moon,7.8,128000,89,R,2023,3h 26m,4,4,NaN,NaN
9,The Wolf of Wall Street,8.2,1500000,75,R,2013,3h,77,4,NaN,GG006

In [217]:
# Drop duplicate rows
movies_df = complete_movies_df.drop_duplicates(subset=['Movie Name', 'Oscar Award ID', 'GG Award ID'])

movies_df.head(10)

,Movie Name,Rating,Votes,Meta Score,PG Rating,Year,Duration,Movie ID,Director ID,Oscar Award ID,GG Award ID
0,Leave the World Behind,6.5,90000,67,R,2023,2h 18m,1,1,NaN,NaN
1,Wonka,7.4,24000,66,PG,2023,1h 56m,2,2,NaN,NaN
2,Paddington 2,7.8,90000,88,PG,2017,1h 43m,665,2,NaN,NaN
3,Paddington,7.3,129000,77,PG,2014,1h 35m,717,2,NaN,NaN
4,Poor Things,8.5,6700,86,R,2023,2h 21m,3,3,NaN,NaN
5,The Favourite,7.5,216000,91,R,2018,1h 59m,144,3,OWA0081,GG005
6,The Killing of a Sacred Deer,7.0,174000,73,R,2017,2h 1m,181,3,NaN,NaN
7,The Lobster,7.1,281000,82,R,2015,1h 59m,281,3,NaN,NaN
8,Killers of the Flower Moon,7.8,128000,89,R,2023,3h 26m,4,4,NaN,NaN
9,The Wolf of Wall Street,8.2,1500000,75,R,2013,3h,77,4,NaN,GG006

In [219]:
unique_movies = movies_df['Movie Name'].unique()
print(unique_movies)
print(len(unique_movies))

['Leave the World Behind' 'Wonka' 'Paddington 2' ... 'The Last Chance'
 'A Medal For Benny' 'The House I Live In']
3092

In [220]:
# Export list of Oscar Winners as CSV files.
movies_df.to_csv("CleanData/MoviesWithAwards.csv", index=False)