In [1]:
import pandas as pd

In [5]:
# Files to use
movies_data = pd.read_csv('CleanData/movies.csv', encoding='utf-8')
oscar_winners = pd.read_csv('CleanData/oscar_winners.csv', encoding='utf-8')
goldenglobe_winners = pd.read_csv('CleanData/goldenglobe_winners.csv', encoding='utf-8')

# Combine the data into a single DataFrame
combine_data_df = pd.merge(movies_data, oscar_winners, how="left", on=["Movie Name", "Movie Name"])
complete_data_df = pd.merge(combine_data_df, goldenglobe_winners, how="left", on=["Movie Name"])
combine_data_df

,Unnamed: 0,Movie Name,Rating,Votes,Meta Score,PG Rating,Year,Duration,Director,Movie ID,Director ID,Year Film,Year Ceremony,Award,Name of Winner,Status
0,0,Leave the World Behind,6.5,90000.0,67.0,R,2023,2h 18m,Sam Esmail,1,1,NaN,NaN,NaN,NaN,NaN
1,1,Wonka,7.4,24000.0,66.0,PG,2023,1h 56m,Paul King,2,2,NaN,NaN,NaN,NaN,NaN
2,2,Paddington 2,7.8,90000.0,88.0,PG,2017,1h 43m,Paul King,665,2,NaN,NaN,NaN,NaN,NaN
3,3,Paddington,7.3,129000.0,77.0,PG,2014,1h 35m,Paul King,717,2,NaN,NaN,NaN,NaN,NaN
4,4,Poor Things,8.5,6700.0,86.0,R,2023,2h 21m,Yorgos Lanthimos,3,3,2023.0,2024.0,ACTRESS IN A LEADING ROLE,Emma Stone,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1955,1614,The Man in the Iron Mask,6.5,176000.0,48.0,PG-13,1998,2h 12m,Randall Wallace,1743,976,NaN,NaN,NaN,NaN,NaN
1956,1615,We Were Soldiers,7.2,149000.0,65.0,R,2002,2h 18m,Randall Wallace,1744,976,NaN,NaN,NaN,NaN,NaN
1957,1616,Dragged Across Concrete,6.9,54000.0,60.0,R,2018,2h 39m,S. Craig Zahler,1746,977,NaN,NaN,NaN,NaN,NaN
1958,1617,Annette,6.3,22000.0,67.0,R,2021,2h 21m,Leos Carax,1749,978,NaN,NaN,NaN,NaN,NaN
1959,1618,"Definitely, Maybe",7.1,172000.0,59.0,PG-13,2008,1h 52m,Adam Brooks,1750,979,NaN,NaN,NaN,NaN,NaN