In [1]:
#dependencies 

import pandas as pd

In [24]:
# pull in oscars demographic into dataframe
oscars_demo_df = pd.read_csv('Oscars-demographics-DFE.csv', encoding= 'unicode_escape')

oscars_demo_df.head(10)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,birthplace,birthplace:confidence,date_of_birth,date_of_birth:confidence,race_ethnicity,...,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold,year_of_award_gold
0,670454353,False,finalized,3,2/10/15 3:45,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,Two Arabian Knights,Lewis Milestone,NaN,NaN,NaN,NaN
1,670454354,False,finalized,3,2/10/15 2:03,"Glasgow, Scotland",1.0,2-Feb-1886,1.0,White,...,Best Director,http://www.nndb.com/people/626/000042500/,NaN,NaN,The Divine Lady,Frank Lloyd,NaN,NaN,NaN,NaN
2,670454355,False,finalized,3,2/10/15 2:05,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,All Quiet on the Western Front,Lewis Milestone,NaN,NaN,NaN,NaN
3,670454356,False,finalized,3,2/10/15 2:04,"Chicago, Il",1.0,23-Feb-1899,1.0,White,...,Best Director,http://www.nndb.com/people/544/000041421/,NaN,NaN,Skippy,Norman Taurog,NaN,NaN,NaN,NaN
4,670454357,False,finalized,3,2/10/15 1:48,"Salt Lake City, Ut",1.0,23-Apr-1894,1.0,White,...,Best Director,http://www.nndb.com/people/292/000044160/,NaN,NaN,Bad Girl,Frank Borzage,NaN,NaN,NaN,NaN
5,670454358,False,finalized,3,2/10/15 3:50,"Glasgow, Scotland",1.0,2-Feb-1886,1.0,White,...,Best Director,http://www.nndb.com/people/626/000042500/,NaN,NaN,Cavalcade,Frank Lloyd,NaN,NaN,NaN,NaN
6,670454359,False,finalized,3,2/10/15 2:07,"Bisacquino, Sicily, Italy",1.0,18-May-1897,1.0,White,...,Best Director,http://www.nndb.com/people/459/000032363/,NaN,NaN,It Happened One Night,Frank Capra,NaN,NaN,NaN,NaN
7,670454360,False,finalized,3,2/10/15 1:46,"Cape Elizabeth, Me",1.0,1-Feb-1894,1.0,White,...,Best Director,http://www.nndb.com/people/458/000032362/,NaN,NaN,The Informer,John Ford,NaN,NaN,NaN,NaN
8,670454361,False,finalized,3,2/10/15 1:47,"Bisacquino, Sicily, Italy",1.0,18-May-1897,1.0,White,...,Best Director,http://www.nndb.com/people/459/000032363/,NaN,NaN,Mr. Deeds Goes to Town,Frank Capra,NaN,NaN,NaN,NaN
9,670454362,False,finalized,3,2/10/15 2:05,"Los Angeles, Ca",1.0,3-Oct-1898,1.0,White,...,Best Director,http://www.nndb.com/people/380/000044248/,NaN,NaN,The Awful Truth,Leo McCarey,NaN,NaN,NaN,NaN

In [25]:
# check for null values
oscars_demo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   _unit_id                       441 non-null    int64
 1   _golden                        441 non-null    bool
 2   _unit_state                    441 non-null    object
 3   _trusted_judgments             441 non-null    int64
 4   _last_judgment_at              416 non-null    object
 5   birthplace                     441 non-null    object
 6   birthplace:confidence          441 non-null    float64
 7   date_of_birth                  441 non-null    object
 8   date_of_birth:confidence       441 non-null    float64
 9   race_ethnicity                 441 non-null    object
 10  race_ethnicity:confidence      441 non-null    float64
 11  religion                       441 non-null    object
 12  religion:confidence            441 non-null    float64
 13  sexual_orientation             441 non-null    object
 14  sexual_orientation:confidence  441 non-null    float64
 15  year_of_award                  441 non-null    int64
 16  year_of_award:confidence       441 non-null    float64
 17  award                          441 non-null    object
 18  biourl                         441 non-null    object
 19  birthplace_gold                9 non-null      object
 20  date_of_birth_gold             8 non-null      object
 21  movie                          441 non-null    object
 22  person                         441 non-null    object
 23  race_ethnicity_gold            2 non-null      object
 24  religion_gold                  10 non-null     object
 25  sexual_orientation_gold        3 non-null      object
 26  year_of_award_gold             11 non-null     float64
dtypes: bool(1), float64(7), int64(3), object(16)
memory usage: 90.1+ KB

In [26]:
# since many columns contain nearly all nulls, we will drop the irrelevant ones
oscars_demo_df= oscars_demo_df.drop(columns=['_unit_id','_golden','_unit_state','_trusted_judgments','_last_judgment_at','birthplace:confidence','date_of_birth:confidence','race_ethnicity:confidence','religion:confidence','sexual_orientation:confidence','year_of_award:confidence','birthplace_gold','date_of_birth_gold','race_ethnicity_gold','religion_gold','sexual_orientation_gold','year_of_award_gold'])

In [27]:
#check to for null values once columns have been removed
oscars_demo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   birthplace          441 non-null    object
 1   date_of_birth       441 non-null    object
 2   race_ethnicity      441 non-null    object
 3   religion            441 non-null    object
 4   sexual_orientation  441 non-null    object
 5   year_of_award       441 non-null    int64
 6   award               441 non-null    object
 7   biourl              441 non-null    object
 8   movie               441 non-null    object
 9   person              441 non-null    object
dtypes: int64(1), object(9)
memory usage: 34.6+ KB

In [30]:
oscars_demo_df.head(10)

,birthplace,date_of_birth,race_ethnicity,religion,sexual_orientation,year_of_award,award,biourl,movie,person
0,"Chisinau, Moldova",30-Sep-1895,White,Na,Straight,1927,Best Director,http://www.nndb.com/people/320/000043191/,Two Arabian Knights,Lewis Milestone
1,"Glasgow, Scotland",2-Feb-1886,White,Na,Straight,1930,Best Director,http://www.nndb.com/people/626/000042500/,The Divine Lady,Frank Lloyd
2,"Chisinau, Moldova",30-Sep-1895,White,Na,Straight,1931,Best Director,http://www.nndb.com/people/320/000043191/,All Quiet on the Western Front,Lewis Milestone
3,"Chicago, Il",23-Feb-1899,White,Na,Straight,1932,Best Director,http://www.nndb.com/people/544/000041421/,Skippy,Norman Taurog
4,"Salt Lake City, Ut",23-Apr-1894,White,Roman Catholic,Straight,1933,Best Director,http://www.nndb.com/people/292/000044160/,Bad Girl,Frank Borzage
5,"Glasgow, Scotland",2-Feb-1886,White,Na,Straight,1934,Best Director,http://www.nndb.com/people/626/000042500/,Cavalcade,Frank Lloyd
6,"Bisacquino, Sicily, Italy",18-May-1897,White,Roman Catholic,Straight,1935,Best Director,http://www.nndb.com/people/459/000032363/,It Happened One Night,Frank Capra
7,"Cape Elizabeth, Me",1-Feb-1894,White,Roman Catholic,Bisexual,1936,Best Director,http://www.nndb.com/people/458/000032362/,The Informer,John Ford
8,"Bisacquino, Sicily, Italy",18-May-1897,White,Roman Catholic,Straight,1937,Best Director,http://www.nndb.com/people/459/000032363/,Mr. Deeds Goes to Town,Frank Capra
9,"Los Angeles, Ca",3-Oct-1898,White,Na,Straight,1938,Best Director,http://www.nndb.com/people/380/000044248/,The Awful Truth,Leo McCarey

In [31]:
# update name of column to align with column name of another dataframe we will utilize for our tables
oscars_demo_df.rename(columns={'person':'name'}, inplace=True)

oscars_demo_df.head()

,birthplace,date_of_birth,race_ethnicity,religion,sexual_orientation,year_of_award,award,biourl,movie,name
0,"Chisinau, Moldova",30-Sep-1895,White,Na,Straight,1927,Best Director,http://www.nndb.com/people/320/000043191/,Two Arabian Knights,Lewis Milestone
1,"Glasgow, Scotland",2-Feb-1886,White,Na,Straight,1930,Best Director,http://www.nndb.com/people/626/000042500/,The Divine Lady,Frank Lloyd
2,"Chisinau, Moldova",30-Sep-1895,White,Na,Straight,1931,Best Director,http://www.nndb.com/people/320/000043191/,All Quiet on the Western Front,Lewis Milestone
3,"Chicago, Il",23-Feb-1899,White,Na,Straight,1932,Best Director,http://www.nndb.com/people/544/000041421/,Skippy,Norman Taurog
4,"Salt Lake City, Ut",23-Apr-1894,White,Roman Catholic,Straight,1933,Best Director,http://www.nndb.com/people/292/000044160/,Bad Girl,Frank Borzage

In [32]:
#update column name to match others in dataframe, again
oscars_demo_df.rename(columns={'name':'winner'}, inplace=True)

oscars_demo_df.head()

,birthplace,date_of_birth,race_ethnicity,religion,sexual_orientation,year_of_award,award,biourl,movie,winner
0,"Chisinau, Moldova",30-Sep-1895,White,Na,Straight,1927,Best Director,http://www.nndb.com/people/320/000043191/,Two Arabian Knights,Lewis Milestone
1,"Glasgow, Scotland",2-Feb-1886,White,Na,Straight,1930,Best Director,http://www.nndb.com/people/626/000042500/,The Divine Lady,Frank Lloyd
2,"Chisinau, Moldova",30-Sep-1895,White,Na,Straight,1931,Best Director,http://www.nndb.com/people/320/000043191/,All Quiet on the Western Front,Lewis Milestone
3,"Chicago, Il",23-Feb-1899,White,Na,Straight,1932,Best Director,http://www.nndb.com/people/544/000041421/,Skippy,Norman Taurog
4,"Salt Lake City, Ut",23-Apr-1894,White,Roman Catholic,Straight,1933,Best Director,http://www.nndb.com/people/292/000044160/,Bad Girl,Frank Borzage